/* Stylesheet */

body{
}

p, h3 {
	font-family: 'Numans', sans-serif;
}

h3 {
	text-transform: uppercase;
}

header {
	
	}
	
nav {
	
}
	
blockquote {
	
}

.container_12 {
	background: #CCC;
}

footer{
	
}

section {
	
}

