/* Stylesheet */

body{
	background: url("../img/bg.png");
}

p, h3 {
	font-family: 'Numans', sans-serif;
}

h3 {
	text-transform: uppercase;
}


	
/* 
 A. Make horizontal navigaton
 B. Improve accessiblity of links
*/

li {
  float: left;

  line-height: 50px;
  list-style: none;
	margin: 0 5px;
  text-align: right;

}

a {
  color: #fff;
  height: 50px;
  display: block;
  width: 150px;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  text-decoration: none;
}

#google a:hover {
		background: url("../img/chrome.png") no-repeat 20px center;
	}
	
#mozilla a:hover {
		background: url("../img/firefox.png") no-repeat 20px center;
	}

#apple a:hover {
		background: url("../img/safari.png") no-repeat 20px center;
	}
	
#google a:hover {
		background: url("../img/chrome.png") no-repeat 20px center;
	}

#opera a:hover {
		background: url("../img/opera.png") no-repeat 20px center;
	}
	
#microsoft a:hover {
		background: url("../img/ie.png") no-repeat 20px center;
	}