/* Stylesheet */

body{
	background: url("../img/woodgrain.png");
}

p, h3 {
	font-family: 'Numans', sans-serif;
}

h3 {
	text-transform: uppercase;
}

header {
	
	}
	
nav {
	
}
	
blockquote {
	
}


footer{
	
}

section {
	
}

.showgrid{
	 background: url("../img/12-col-grid.gif");
}